<h4>PrinterAlerts Settings</h4>
<form class="form-horizontal" id="settings_plugin_PrinterAlerts_form">
	<div class="control-group">
		<label class="control-label">{{ _('Message Type') }}</label>
		<div class="controls">
			<select data-bind="options: msgTypes,optionsText: 'name',optionsValue: 'value',value: settingsViewModel.settings.plugins.PrinterAlerts.msgType"></select>
        </div>
    </div>
	<div class="control-group" data-bind="visible: settingsViewModel.settings.plugins.PrinterAlerts.msgType() != 'disabled'">
		<label class="control-label">{{ _('Auto Close') }}</label>
		<div class="controls">
			<input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.PrinterAlerts.autoClose,enabled: settingsViewModel.settings.plugins.PrinterAlerts.msgType() != 'disabled'">
        </div>
    </div>
	<div class="control-group" data-bind="visible: true">
		<label class="control-label">{{ _('Enable Speech') }}</label>
		<div class="controls">
			<input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.PrinterAlerts.enableSpeech">
        </div>
    </div>
	<div class="control-group" data-bind="visible: settingsViewModel.settings.plugins.PrinterAlerts.enableSpeech">
		<label class="control-label">{{ _('Voice') }}</label>
		<div class="controls">
			<select data-bind="options: voices,optionsText: 'name',optionsValue: 'value',value: settingsViewModel.settings.plugins.PrinterAlerts.speechVoice"></select>
        </div>
    </div>
	<div class="control-group" data-bind="visible: settingsViewModel.settings.plugins.PrinterAlerts.enableSpeech">
		<label class="control-label">{{ _('Volume') }}</label>
		<div class="controls">
			<div class="slider slider-horizontal" style="width: 165px;">
				<div class="slider-track">
					<div class="slider-selection" style="left: 0%; width: 50%;"></div>
					<div class="slider-handle round" style="left: 50%;"></div>
					<div class="slider-handle round hide" style="left: 0%;"></div>
				</div>
				<div class="tooltip top hide" style="top: -24px; left: -5px;">
					<div class="tooltip-arrow"></div>
					<div class="tooltip-inner">100</div>
				</div>
				<input type="number" style="width: 153px; display: none;" data-bind="slider: {min: 0, max: 1, step: .1, value: settingsViewModel.settings.plugins.PrinterAlerts.speechVolume, tooltip: 'hide'}">
			</div>
			<div data-bind="text: settingsViewModel.settings.plugins.PrinterAlerts.speechVolume" style="display:inline;padding-left:20px;"></div>
		</div>
	</div>
	<div class="control-group" data-bind="visible: settingsViewModel.settings.plugins.PrinterAlerts.enableSpeech">
		<label class="control-label">{{ _('Pitch') }}</label>
		<div class="controls">
			<div class="slider slider-horizontal" style="width: 165px;">
				<div class="slider-track">
					<div class="slider-selection" style="left: 0%; width: 50%;"></div>
					<div class="slider-handle round" style="left: 50%;"></div>
					<div class="slider-handle round hide" style="left: 0%;"></div>
				</div>
				<div class="tooltip top hide" style="top: -24px; left: -5px;">
					<div class="tooltip-arrow"></div>
					<div class="tooltip-inner">100</div>
				</div>
				<input type="number" style="width: 153px; display: none;" data-bind="slider: {min: 0, max: 2, step: .1, value: settingsViewModel.settings.plugins.PrinterAlerts.speechPitch, tooltip: 'hide'}">
			</div>
			<div data-bind="text: settingsViewModel.settings.plugins.PrinterAlerts.speechPitch" style="display:inline;padding-left:20px;"></div>
		</div>
	</div>
	<div class="control-group" data-bind="visible: settingsViewModel.settings.plugins.PrinterAlerts.enableSpeech">
		<label class="control-label">{{ _('Rate') }}</label>
		<div class="controls">
			<div class="slider slider-horizontal" style="width: 165px;">
				<div class="slider-track">
					<div class="slider-selection" style="left: 0%; width: 50%;"></div>
					<div class="slider-handle round" style="left: 50%;"></div>
					<div class="slider-handle round hide" style="left: 0%;"></div>
				</div>
				<div class="tooltip top hide" style="top: -24px; left: -5px;">
					<div class="tooltip-arrow"></div>
					<div class="tooltip-inner">100</div>
				</div>
				<input type="number" style="width: 153px; display: none;" data-bind="slider: {min: .1, max: 10, step: .1, value: settingsViewModel.settings.plugins.PrinterAlerts.speechRate, tooltip: 'hide'}">
			</div>
			<div data-bind="text: settingsViewModel.settings.plugins.PrinterAlerts.speechRate" style="display:inline;padding-left:20px;"></div>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button class="btn btn-primary" data-bind="click: testPopUp">Test</button>
        </div>
    </div>
</form>
